/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #ff004f;
    text-shadow: 0 0 10px rgba(255, 0, 79, 0.7);
}

#mesas-container {
    margin-bottom: 20px;
}

.mesa {
    background-color: #1f1f1f;
    border: 2px solid #ff004f;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 79, 0.6);
}

button {
    background-color: #ff004f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #00ff88;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}
